@use '@/styles/variables' as *;

.button {
	background-color: $gray-950;
	color: $gray-100;
	padding: 15px;
	border-radius: 15px;
	width: 100%;
}

.text {
	font-weight: 400;
	font-size: 36px;
	line-height: 100%;
	letter-spacing: 0%;
	font-family: var(--font-inter);
}

.spinner {
	width: 25px;
	height: 25px;
	border: 3px solid $gray-100-30;
	border-top-color: $gray-100;
	border-radius: 50%;
	animation: spin 1s linear infinite;
	margin: 0 auto;
}

.disabled {
	cursor: not-allowed;
}

@keyframes spin {
	to {
		transform: rotate(360deg);
	}
}
