.clearModal {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 60px;
	text-align: center;
}

.clearButton {
	max-width: 150px;
}

.modalContent {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 20px;
}
