@use '@/styles/variables' as *;

.section {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 100px;
	padding: 0 20px;
}

.title {
	text-align: center;
	width: 100%;
	border-radius: 15px;
	padding: 20px;
	background-color: #777;
	box-shadow: 0 0 5px $white;
}

.h1 {
	font-weight: 400;
	font-size: clamp(32px, 6vw, 96px);
	line-height: 100%;
	letter-spacing: 0%;
	font-family: var(--font-inter);
	color: #fff;
}
