@use '@/styles/variables' as *;

.section {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 100px;
}

.title {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	border-radius: 15px;
	padding: 20px;
	background-color: #777;
	box-shadow: 0 0 5px $white;
}

.h1 {
	font-weight: 400;
	font-size: 96px;
	line-height: 100%;
	letter-spacing: 0%;
	font-family: var(--font-inter);
	color: #fff;
}

.reviews {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: auto;
	gap: 30px;
}

.products {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: auto;
	gap: 34px;
}

.error {
	color: $red;
}
