$gray-100: #f0f0f0;
$gray-300: #d9d9d9;
$gray-700: #777;
$gray-900: #2f2f2f;
$gray-950: #222222;

$black-25: rgba(0, 0, 0, 0.25);
$black-50: rgba(0, 0, 0, 0.5);
$gray-100-30: rgba(240, 240, 240, 0.3);

$black: #000;
$white: #fff;
$red: #ff0000;
