@use '@/styles/variables' as *;

.card {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	border-radius: 15px;
	gap: 10px;
	padding: 20px;
	color: $black;
	background-color: $gray-300;
	box-shadow: 0 0 5px $white;
}
